
<div #liste id="liste" *ngIf="this.isVisible">
    <h3>{{ contactsfound.length }} contact(s)</h3>
    <!-- <div class="form-group">
    Nom du contact : <input class="form-control" #name type="text">
    Numéro du contact : <input class="form-control" #number type="tel">
    <button type="button" class="btn btn-primary" (click)="ajouterContact()">Ajouter contact</button>
</div> -->
    <div class="form-group">
        Rechercher un contact : <input class="form-control" (keyup)="searchContact($event)" type="text">
    </div>
    
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let contact of contactsfound; let i = index" [attr.data-index]="i">
            <div class="float-left" (click)="showDetailsAction(contact)">
                <img id="photo" [src]="contact.picture.large">
                {{ contact.name.last|uppercase}} {{ contact.name.first }}
            </div>
            <div class="float-right">
                ajouté le {{contact.registered.date |date:'dd/MM/yyyy'}}
                <button type="button" class="btn-sm btn-default" (click)="favoriContact(i)">
                    <i *ngIf="contact.favori==false" class="far fa-star"></i> 
                    <i *ngIf="contact.favori==true" class="fas fa-star"></i> 
                    </button>
                <button type="button" class="btn-sm btn-danger" (click)="supprimerContact(i)"><i class="far fa-trash-alt"></i> </button>
            </div>
        </li>
    </ul>
</div>